<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.wizpanda.cordova.guided-access" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordova-ios-guided-access</name>
    <js-module name="cordova-ios-guided-access" src="www/cordova-ios-guided-access.js">
        <clobbers target="cordova.plugins.cordova-ios-guided-access"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="cordova-ios-guided-access">
                <param name="ios-package" value="cordova-ios-guided-access"/>
            </feature>
        </config-file>
        <source-file src="src/ios/cordova-ios-guided-access.m"/>
    </platform>
</plugin>